* {
    box-sizing: border-box;
}

html {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
    color: #45c34a;
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

section h2 {
    padding: 30px 10px 10px 10px;
}

h3 {
    font-size: 16px;
}

h1, h2, p {
    margin: 0;
}

header {
    height: 70px;
}

main {
    height: 100%;
}

footer {
    height: 40px;
}

footer a {
    color: #45c34a;
    text-decoration: none;
}

footer i {
    font-size: 24px;
}

footer p {
    font-size: 18px;
}

main button, form button, section h2 {
    text-align: center;
}

main button, form button {
    all: inherit;
}

main nav, nav button {
    background-color: #252525;
    color: #fff;
}


main button {
    padding: 10px;
    width: 100%;
    transition: background-color .3s;
}

nav, .pages {
    position: relative;
    overflow: auto;
}

nav button:hover {
    background-color: #373737;
}

nav button:focus {
    outline: none;
}

button {
    cursor: pointer !important;
}

form {
    background-color: white;
    border: 1px solid #acacac;
    height: 85vh;
    overflow: hidden;
}

textarea {
    border: 0;
    resize: none;
    padding: 10px;
    height: 90%;
    width: 100%;
}

.pages, .pages button {
    background-color: #efefef;
    color: black;
}

.pages section button:hover {
    background-color: #fff;
}

.pages-lg {
    display: none;
}

.header-mb, .single-line {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 10px;
}

.editor-tools {
    background-color: #acacac;
}

.logo {
    transform: rotate(15deg);
    width: 25px;
}

.shelf {
    padding-top: 10px;
}

[aria-expanded="true"] .fa-caret-right {
    display: none;
}

[aria-expanded="false"] .fa-caret-down {
    display: none;
}

.fa-github {
    transform: translateX(-24px);
}

.fa-eye-slash {
    position: absolute;
    left: 4px;
    top: 4px;
}

.toggledPages, .pages, form {
    transition: width .3s
}

.pages.toggledPages section button, .pages.toggledPages h2 {
    color: #efefef;
}

.pages.toggledPages {
    width: 24px;
}

form.toggledPages {
    width: 80%;
}

@media (min-width: 768px) {

    h1 {
        font-size: 28px;
    }

    main {
        height: 85vh;
    }

    header {
        height: 75px;
    }

    footer {
        height: 40px;
    }

    nav, .pages, form {
        height: 100%;
    }

    textarea {
        padding: 60px;
    }

    .pages-mb {
        display: none;
    }

    .pages-lg {
        display: initial;
    }
}