* {
    box-sizing: border-box;
    font-weight: 100;
}

html,
body {
    height: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 24px;
    flex-grow: 1;
}

h1,
.detail-aside h2,
.clear-style {
    color: #45c34a;
    font-weight: 400;
}

h2 {
    font-size: 18px;
}

section h2 {
    padding: 30px 10px 10px 10px;
}

h3 {
    font-size: 16px;
}

h2,
p {
    margin: 0;
}

header {
    height: auto;
    width: 100%;
}

header>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    height: 100%;
}

footer {
    background-color: #45c34a;
    font-weight: 400;
    flex-shrink: 0;
    padding: 5px;
    height: 40px;
    width: 100%;
}

footer>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

footer a {
    text-decoration: none;
}

footer i {
    font-size: 24px;
}

footer p {
    font-size: 20px;
}

fieldset {
    border: 0;
    padding: 0;
}

main button,
section h2 {
    text-align: center;
}

main button,
.editor-form button {
    all: inherit;
}

main nav,
nav button {
    background-color: #252525;
}

main nav,
nav button,
.login-form button,
.registration-form button,
header button,
[role="dialog"]>button,
.dialog-form-button button,
footer a,
.intro,
.editor-tools button {
    color: #fff;
}

main button {
    padding: 10px;
    width: 100%;
    transition: background-color .3s;
}

nav {
    border-top: 12px solid #45c34a;
    position: relative;
    overflow: auto;
}

nav button:hover,
nav button:focus {
    background-color: #373737;
    color: #45c34a;
    outline: none;
}

nav,
.editor-form {
    height: 600px;
}

button {
    cursor: pointer !important;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-bottom: 10px;
}

.my-progress {
    height: 300px;
}

.my-progress h2 {
    font-weight: 400;
}

.my-progress button {
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

.my-progress button:focus {
    background-color: #eeeeee;
    text-decoration: underline;
}

progress {
    height: 30px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
}

progress[value]::-webkit-progress-value {
    background-color: #45c34a;
}

.profile {
    background-color: white;
}

.landing-page-cont {
    display: flex;
    justify-content: space-around;
}

.detail-aside {
    border: 10px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.detail-aside div {
    border-radius: 5px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.landing-page {
    background: url('../images/sprout2.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 10px;
    margin: 0 5px;
    padding: 10px 0 0 0;
    position: relative;
    height: 600px;
    min-height: 480px;
    width: 600px;
}

.landing-page span {
    color: #fff;
    background-color: rgba(31, 48, 27, 0.5);
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.login-form div,
.login-form button,
.registration-form div,
.registration-form button {
    margin-top: 10px;
}

.login-form label,
.registration-form label {
    display: block;
    padding: 10px 0;
}

.login-form input,
.registration-form input,
.wordtool {
    height: 35px;
    padding-left: 5px;
    width: 100%;
}

.login-form input,
.editor-form,
.progress-bar,
.my-progress,
.registration-form input,
.profile,
[role="dialog"],
.thesaurus-result-list {
    border: 1px solid #acacac;
}

.intro {
    background-color: rgba(48, 60, 32, 0.9);
    padding: 10px;
    font-size: 18px;
}

.editor-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editor-tools {
    background-color: #acacac;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.editor-tools span {
    padding-left: 5px;
    line-height: 30px;
}

.editor-tools,
.ql-toolbar {
    flex-grow: 0;
}

.editor-tools button {
    height: 30px;
}

.ql-container {
    height: 600px;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

.ql-editor {
    flex-grow: 1;
}

.logo {
    transform: rotate(15deg);
    width: 25px;
}

.collections h3>button:hover,
.collections h3>button:focus {
    border-bottom: 1px solid #45c34a;
}

.login-form button,
header button,
.registration-form button,
[role="dialog"]>button,
.dialog-form-button button,
.editor-tools button {
    background-color: #45c34a;
}

.login-form button,
header button,
.registration-form button,
[role="dialog"] button,
.editor-tools button {
    border-radius: 3px;
    font-weight: 400;
    padding: 4px 8px;
    border: 0;
}

.login-form button:hover,
header button,
.registration-form button:hover,
[role="dialog"]>button:hover,
.dialog-form-button button:hover,
.editor-tools button:hover {
    background-color: #5edb62;
}

.account {
    position: relative;
}

.profile {
    padding: 10px;
    position: absolute;
    margin-top: 10px;
    right: 0;
    z-index: 10;
}

.profile form label,
.profile form input,
.profile legend {
    margin-bottom: 10px;
    display: inline-block;
}

.profile form input {
    padding-left: 5px;
}

.shelf {
    padding-top: 28px;
}

.shelf h2 button,
.collection>button {
    padding-left: 15px;
}

.clear-style {
    background-color: transparent;
    border: 0;
    display: inline-block;
    padding: 0;
}

.create-notebook,
.change-title {
    padding: 10px;
}

.notebook-title {
    color: #fff;
    background-color: transparent;
    height: 30px;
    width: 100%;
    padding-left: 5px;
}

.notebook .expandable {
    display: flex;
    flex-direction: column;
}

h3.expandable>div {
    display: flex;
}

h3.expandable button {
    margin-bottom: 0;
    padding-left: 15px;
    padding-bottom: 0;
    width: initial;
}

[aria-expanded="true"] .fa-caret-right {
    display: none;
}

[aria-expanded="false"] .fa-caret-down {
    display: none;
}

.fa-github {
    transform: translateX(-24px);
}

.fa-eye-slash {
    position: absolute;
    left: 4px;
    top: 4px;
}

.error {
    color: red;
}

/* Accessible Dialog */
[role="dialog"] {
    background-color: #fff;
    min-height: 100vh;
    position: relative;
    padding: 15px;
}

[role="dialog"] .results {
    border-top: 5px double #91d263;
    padding: 10px;
    margin-top: 5px;
}

.dialog_label {
    text-align: center;
}

.dialog_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

.dialog_form * {
    height: 26px;
}

.dialog-form-button {
    margin: 5px 0 0 0;
}

.results ul {
    list-style: none;
    padding-left: 0;
}

.word {
    font-size: 18px;
}

sup {
    margin-left: 3px;
}

.word,
sup,
.js-category {
    font-weight: 400;
}

.js-category {
    color: #ffa500;
    display: inline-block;
    margin-bottom: 5px;
}

.definition li,
.results>ul>li {
    padding: 5px 5px 10px 5px;
}

.definition span {
    padding-left: 8px;
}

.definition li, .intro, .help-info li, .help-info p {
    line-height: 28px;
}

.mb-hidden {
    display: none;
}

.thesaurus-result-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.thesaurus-result {
    color: black;
    background-color: #eaeaea;
    margin-bottom: 2.5px;
}

.help-info {
    overflow: scroll;
}

.help-info h2 {
    margin: initial;
}

.help-info p {
    padding-left: 20px;
}

.help-info h2, .help-info span {
    font-weight: bold;
    color: #45c34a;
}

.help-info ul {
    margin: 0;
    padding: 5px 20px 20px 20px;
}

.help-info li {
    margin-top: 13px;
}

@media screen and (min-width: 460px) {
    header>div {
        flex-direction: row;
    }

    .thesaurus-result-list {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 28px;
    }

    .container-md,
    .progress-bar-container {
        float: none;
        margin: 0 auto;
    }

    .landing-page {
        padding: 10px 0 0 0;
        border: 10px solid #f7f7f7;
    }

    .landing-page h2 {
        font-size: 24px;
        font-weight: 400;
    }

    .landing-page h2,
    .intro {
        letter-spacing: 2px;
    }

    .intro {
        font-size: 18px;
        padding: 25px;
    }

    .dialog_form {
        flex-direction: row;
    }

    .dialog-form-button {
        margin: 0 0 0 5px;
    }

    [role="dialog"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: calc(768px - (15px * 2));
        height: 600px;
        min-height: 600px;
        overflow: scroll;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

    .mb-hidden {
        display: block;
    }
}