* {
    box-sizing: border-box;
}

html {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

button {
    cursor: pointer;
}

h1 {
    color: #45c34a;
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h1, h2, p {
    margin: 0;
}

header {
    height: 10vh;
}

main {
    height: 85vh;
}

footer {
    height: 5vh;
}

main button, form button {
    all: inherit;
    text-align: center;
}

main nav, nav button {
    background-color: #252525;
}

main button {
    padding: 10px;
    width: 100%;
}

nav button {
    color: white;
}

form {
    background-color: white;
    border: 1px solid #acacac;
    /* height: 100vh; */
}

textarea {
    resize: none;
    padding: 10px;
    height: 100%;
    width: 100%;
}

nav button:focus {
    outline: none;
}

.pages, nav button:focus {
    background-color: #efefef;
    color: black;
}

.header-mb, .single-line {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    transform: rotate(15deg);
    width: 25px;
}

.shelf {
    padding-top: 10px;
}

[aria-expanded="true"] .fa-caret-right {
    display: none;
}

[aria-expanded="false"] .fa-caret-down {
    display: none;
}

@media (min-width: 768px) {
    nav, .pages, form, textarea {
        height: 100%;
    }

    textarea {
        padding: 60px;
    }
}